\#.emacs#
.emacs.d/configuration.el
.emacs.d/configuration.org.bak
.emacs.d/configuration.org~
.myconfig
*._sync_*
.owncloudsync.log
Desktop.ini
/.emacs.d/history
/.emacs.d/.emacs.desktop
/.emacs.d/.emacs.desktop.lock
/.emacs.d/.org-id-locations
/.emacs.d/auto-save-list/
/.emacs.d/bookmarks
/.emacs.d/elpa/
/.emacs.d/eshell/
/.emacs.d/games/
/.emacs.d/ido.last
/.emacs.d/nov-places
/.emacs.d/org-clock-save.el
/.emacs.d/recentf
/.emacs.d/request/
/.emacs.d/tramp
/.emacs.d/transient/
